{namespace bwmail=Blueways\BwEmail\ViewHelpers}
<div class="message-header">
    <h4>
        <f:if condition="{mail.from.name}">
            <f:then>
                {mail.from.name} &lt;{mail.from.address}&gt;
            </f:then>
            <f:else>{mail.from.address}</f:else>
        </f:if>
    </h4>
    <p>{mail.subject}</p>
    <p>To:
        <f:for each="{mail.to}" as="to" iteration="i">
            <f:if condition="{to.name}">
                <f:then>
                    {to.name} &lt;{to.address}&gt;
                </f:then>
                <f:else>{to.address}</f:else>
            </f:if>
            {f:if(condition: i.isLast, else:', ')}
        </f:for>
    </p>
</div>

<div class="message-body">
    <iframe frameborder="0" width="100%" src="{mail.bodyHtml->bwmail:iframe()->f:format.raw()}"></iframe>
</div>
