<f:layout name="Administration/MailClient"/>

<f:section name="main">

    <f:flashMessages/>

    <div class="email-administration">

        <div id="inbox" data-uri="{inboxUri}">

        </div>
        <div id="message">

        </div>

        <div class="overlay overlay--inbox loading-inbox"></div>
        <div class="overlay overlay--message loading-message"></div>

        <i class="fa fa-spinner fa-spinner--inbox fa-spin loading-inbox"></i>
        <i class="fa fa-spinner fa-spinner--message fa-spin loading-message"></i>

    </div>
</f:section>
