<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
{namespace be = TYPO3\CMS\Backend\ViewHelpers} {namespace bu = TPO3\CMS\Beuser\ViewHelpers} {namespace core
=TYPO3\CMS\Core\ViewHelpers}

<f:layout name="Administration/Default"/>

<f:section name="content">

    <h1>Inbox</h1>

    <div class="container-fluid">
        <div class="row col">
            <div class="col-md-4" id="inbox">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
            <div class="col-md-8" id="message">
            </div>
        </div>
    </div>

</f:section>
