<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
{namespace be = TYPO3\CMS\Backend\ViewHelpers} {namespace bu = TPO3\CMS\Beuser\ViewHelpers} {namespace core
=TYPO3\CMS\Core\ViewHelpers}

<f:layout name="Administration/Default"/>

<f:section name="content">

    <h1>{log.subject}</h1>

    <f:if condition="{log.recordTable} && {log.recordUid}">
        <be:link.editRecord uid="{log.recordUid}" table="{log.recordTable}" class="btn btn-default">
            <i class="fa fa-pencil" aria-hidden="true"></i> Show linked record
        </be:link.editRecord>
    </f:if>

    <f:be.link route="ajax_email_preview" parameters="{id: log.uid}" class="btn btn-default preview">
        <i class="fa fa-search" aria-hidden="true"></i> View E-Mail
    </f:be.link>

    <f:if condition="{wizardUri}">
        <button id="sendMailButton"
                class="btn btn-default t3js-sendmail-trigger viewmodule_email_button"
                data-wizard-uri="{wizardUri}"
                data-modal-title="Resend Email"
                data-modal-send-button-text="Send"
                data-modal-cancel-button-text="Abort">
            <span class="t3-icon fa fa-envelope-o"></span>
            Send Mail again..
        </button>
    </f:if>

    <hr />

    <div class="panel panel-default">
        <div class="table-fit">
            <table class="table">
                <tbody>
                <tr>
                    <td>UID</td>
                    <td>{log.uid}</td>
                </tr>
                <tr>
                    <td>
                        <f:translate key="LLL:EXT:bw_email/Resources/Private/Language/locallang_db.xlf:tx_bwemail_domain_model_maillog.status"/>
                    </td>
                    <td>
                        <f:translate key="LLL:EXT:bw_email/Resources/Private/Language/locallang_db.xlf:tx_bwemail_domain_model_maillog.status.{log.status}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <f:translate key="LLL:EXT:bw_email/Resources/Private/Language/locallang_db.xlf:tx_bwemail_domain_model_maillog.send_date"/>
                    </td>
                    <td>{log.sendDate->f:format.date(format:'d.m.Y H:i:s')}</td>
                </tr>
                <tr>
                    <td>
                        <f:translate key="LLL:EXT:bw_email/Resources/Private/Language/locallang_db.xlf:tx_bwemail_domain_model_maillog.subject"/>
                    </td>
                    <td>{log.subject}</td>
                </tr>
                <tr>
                    <td>
                        <f:translate key="LLL:EXT:bw_email/Resources/Private/Language/locallang_db.xlf:tx_bwemail_domain_model_maillog.recipient_name"/>
                    </td>
                    <td>{log.recipientName}</td>
                </tr>
                <tr>
                    <td>
                        <f:translate key="LLL:EXT:bw_email/Resources/Private/Language/locallang_db.xlf:tx_bwemail_domain_model_maillog.recipient_address"/>
                    </td>
                    <td>{log.recipientAddress}</td>
                </tr>
                <tr>
                    <td>
                        <f:translate key="LLL:EXT:bw_email/Resources/Private/Language/locallang_db.xlf:tx_bwemail_domain_model_maillog.job_type"/>
                    </td>
                    <td>{log.jobType}</td>
                </tr>
                <tr>
                    <td>
                        <f:translate key="LLL:EXT:bw_email/Resources/Private/Language/locallang_db.xlf:tx_bwemail_domain_model_maillog.conversation_id"/>
                    </td>
                    <td>{f:if(condition: log.conversationId, then: '{log.conversationId}', else: '-')}</td>
                </tr>
                <tr>
                    <td>
                        <f:translate key="LLL:EXT:bw_email/Resources/Private/Language/locallang_db.xlf:tx_bwemail_domain_model_maillog.sender_name"/>
                    </td>
                    <td>{log.senderName}</td>
                </tr>
                <tr>
                    <td>
                        <f:translate key="LLL:EXT:bw_email/Resources/Private/Language/locallang_db.xlf:tx_bwemail_domain_model_maillog.sender_address"/>
                    </td>
                    <td>{log.senderAddress}</td>
                </tr>
                <tr>
                    <td>
                        <f:translate key="LLL:EXT:bw_email/Resources/Private/Language/locallang_db.xlf:tx_bwemail_domain_model_maillog.sender_replyto"/>
                    </td>
                    <td>{f:if(condition: log.senderReplyto, then: '{log.senderReplyto}', else: '-')}</td>
                </tr>
                <tr>
                    <td>
                        <f:translate key="LLL:EXT:bw_email/Resources/Private/Language/locallang_db.xlf:tx_bwemail_domain_model_maillog.record_table"/>
                    </td>
                    <td>{f:if(condition: log.recordTable, then: '{log.recordTable}', else: '-')}</td>
                </tr>
                <tr>
                    <td>
                        <f:translate key="LLL:EXT:bw_email/Resources/Private/Language/locallang_db.xlf:tx_bwemail_domain_model_maillog.record_uid"/>
                    </td>
                    <td>{f:if(condition: log.recordUid, then: '{log.recordUid}', else: '-')}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</f:section>

</html>
