.email-administration .container-navigation {
  width: 260px;
  position: absolute;
}

.email-administration .container-content {
  margin-left: 300px;
}

.no-gutter.row,
.no-gutter.container,
.no-gutter.container-fluid {
    margin-left: 0;
    margin-right: 0;
}

.no-gutter > [class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.email-administration #inbox, .email-administration #message {
    border: 1px solid #CCC;
    height: calc(100vh - 200px);
    background: #f7f7f7;
    overflow-y: scroll;
}

.email-administration #message {
    border-left: 0;
    display: grid;
    grid-template-rows: min-content auto;
}

.email-administration #inbox .fa-spinner {
    position: absolute;
    left: 50%;
    font-size: 3rem;
    top: 25vh;
}

.email-administration .message-item {
    border-bottom: 1px solid #CCC;
    padding: 5px 5px 0 25px;
    position: relative;
    overflow: hidden;
    background: #FFF;
}

.email-administration .message-item.active {
    background: #0078e6;
    color: #FFF;
}

.email-administration .message-item.unseen:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #0078e6;
    border-radius: 100%;
    position: absolute;
    left: 8px;
    top: 16.5px;
}

.email-administration .message-item time {
    position: absolute;
    right: 12px;
    top:12px;
}

.email-administration .message-header {
    background: #FFF;
    padding: 10px;
    border-bottom: 1px solid #CCC;
}

.email-administration .message-body {
    display: grid;
    align-items: stretch;
}
