.email-administration .container-navigation {
    width: 260px;
    position: absolute;
}

.email-administration .container-content {
    margin-left: 300px;
}

.no-gutter.row,
.no-gutter.container,
.no-gutter.container-fluid {
    margin-left: 0;
    margin-right: 0;
}

.no-gutter > [class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.module-body {
    padding: 32px 0 0 0 !important;
    display: grid;
}

.email-administration {
    display: grid;
    grid-template-columns: 25% auto;
    max-height: 100%;
    overflow-y: scroll;
}

.email-administration #inbox,
.email-administration #message {
    border: 1px solid #ccc;
    background: #f7f7f7;
    overflow-y: scroll;
    position: relative;
    grid-row: 1 / 2;
}

.email-administration #inbox {
    grid-column: 1 / 2;
}

.email-administration #message {
    border-left: 0;
    display: grid;
    grid-template-rows: min-content auto;
    grid-column: 2 / 3;
}

.email-administration .buttonbar {
    background: #e8e7e7;
    padding: 10px;
    border: 1px solid #ccc;
    border-bottom: 0;
}

.email-administration .buttonbar i {
    min-width: 24px;
}

.email-administration .overlay {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    align-self: stretch;
    justify-self: stretch;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    display: none;
    width: calc(100% - 1px);
}

.email-administration .fa-spinner {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    align-self: center;
    justify-self: center;
    font-size: 2.5rem;
    display: none;
    z-index: 2;
}

.email-administration .fa-spinner--message, .email-administration .overlay--message {
    grid-column: 2 / 3;
}

.email-administration #inbox[data-loading] ~ .loading-inbox,
.email-administration #message[data-loading] ~ .loading-message {
    display: block;
}

.email-administration #inbox[data-loading="bottom"] ~ .overlay--inbox {
    height: 58px;
    align-self: end;
    background-color: #eee;
    opacity: 0.95;
    border-top: 1px solid #ccc;
    box-shadow: 0 -10px 10px -10px rgba(0, 0, 0, 0.4);
}

.email-administration #inbox[data-loading="bottom"] ~ .fa-spinner--inbox {
    align-self: end;
    margin-bottom: 16px;
}

.email-administration .message-item {
    border-bottom: 1px solid #ccc;
    padding: 5px 5px 0 25px;
    position: relative;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
}

.email-administration .message-item.active {
    background: #0078e6;
    color: #fff;
    cursor: auto;
}

.email-administration .message-item.active time {
    background-color: #0078e6;
    box-shadow: 0 0 10px 10px #0078e6;
}

.email-administration .message-item.unseen:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #0078e6;
    border-radius: 100%;
    position: absolute;
    left: 8px;
    top: 16.5px;
}

.email-administration .message-item time {
    position: absolute;
    right: 12px;
    top: 12px;
    box-shadow: 0 0 10px 10px #fff;
    background-color: #fff;
}

.email-administration .message-header {
    background: #fff;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.email-administration .message-body {
    display: grid;
    align-items: stretch;
}

.email-administration .message-body--plaintext {
    padding: 2rem;
}
