{namespace bw = Blueways\BwEmail\ViewHelpers}
<div class="email-administration">

    <f:be.pageRenderer includeCssFiles="{
	0: 'EXT:bw_email/Resources/Public/Css/administration.css'
	}"/>

    <f:flashMessages/>

    <div class="container-navigation">
        <ul class="list-group">
            <f:link.action action="index" class="list-group-item active"><i class="fa fa-list" aria-hidden="true"></i>
                Mail Log
                <span class="badge badge-primary badge-pill">214</span>
            </f:link.action>
            <f:link.action action="errorLog" class="list-group-item"><i class="fa fa-exclamation-circle"
                                                                        aria-hidden="true"></i> Mail Errors
                <span class="badge badge-primary badge-pill">14</span>
            </f:link.action>
            <f:link.action action="contactList" class="list-group-item"><i class="fa fa-user" aria-hidden="true"></i>
                Contact Provider
                <span class="badge badge-primary badge-pill">2</span>
            </f:link.action>
        </ul>
    </div>

    <div class="container-content">
        <f:render section="content"/>
    </div>

</div>
